{{ define "main" }}
<main>
    <h1 {{ printf "data-icon=%q" .Params.icon | safeHTMLAttr }}>{{ .Title }}</h1>
    {{ replaceRE "<aside.*?>(.|\n)*?</aside>" "" .Content | safeHTML }}
    {{ range $.Data.Pages.GroupByDate "2006" }}
    <h2 id="{{ .Key }}"><a href="#{{ .Key }}">Published in {{ .Key }}</a></h2>
    <ul class="publications">
	{{ range .Pages.ByDate.Reverse }}
	<li>
	    <p class="head">
		<span class="title"><a href="/">{{ .Title }}</a></span>
		<span class="kind">{{ .Params.kind }}</span>
	    </p>
	    <p class="mid">
		<span class="authors">
		    {{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}<span{{ if eq . $.Site.Params.author}} class="me"{{end}}>{{ . }}</span>{{ end }}
		</span>
		<span class="year">
		    {{ .Date.Format "2006" }}
		</span>
	    </p>
	    <p class="details">
		<span class="publisher">{{ .Params.publisher }}</span>
	    </p>
	</li>
	{{ end }}
    </ul>
    {{ end }}
</main>
{{ $aside := findRE "<aside.*?>(.|\n)*?</aside>" .Content 1 }}
{{ if $aside}}
	{{ (index $aside 0) | safeHTML }}
{{ end }}
{{ end }}
