[submodule "public"]
	path = public
	url = git@github.com:tpanum/tpanum.github.io.git
	branch = master
[submodule "themes/hugo-renga"]
	path = themes/hugo-renga
	url = https://github.com/road2stat/hugo-renga.git
