{{ partial "header.html" . }}
<div class="ui icon message">
  <i class="text file outline icon"></i>
  <div class="content">
    <a class="header">
      Post 1
    </a>
    <p>June 6h 2016 14:13</p>
  </div>
</div>
<div class="ui icon message">
  <i class="text file outline icon"></i>
  <div class="content">
    <a class="header">
      Post 1
    </a>
    <p>June 6h 2016 14:13</p>
  </div>
</div>

<div class="ui icon message">
  <i class="text file outline icon"></i>
  <div class="content">
    <a class="header">
      Post 1
    </a>
    <p>June 6h 2016 14:13</p>
  </div>
</div>
{{ partial "footer.html"}}
