<header>
    <a href="{{ .Site.BaseURL }}">
	<picture>
	    {{ range .Site.Params.profilepictures }}
	    <source  type="{{ .format }}" src="{{ .path | absURL }}" {{ if .path_hidpi }}srcset="{{ .path_hidpi | absURL }} 2x"{{ end }}>
	    {{ end }}
	    {{ if .Site.Params.default_profilepic }}
	    <img src="{{ .Site.Params.default_profilepic | absURL }}" alt="{{ .Site.Params.author }}">
	    {{ end }}
	</picture>
	<h1>{{ .Site.Title }}</h1>
    </a>
    <nav>
	<ul>
	    {{ range .Site.Menus.primary.ByWeight }}
	    <li><a href="{{ .URL }}">{{ .Pre}}{{ .Name }}</a></li>
	    {{ end }}
	</ul>
    </nav>
</header>
