<header>
    <a href="{{ .Site.BaseURL }}">
	<picture>
	    {{ range .Site.Params.profilepictures }}
	    <source  type="{{ .format }}" srcset="{{ .path }} 1x{{ if .path_hidpi }}, {{ .path_hidpi }} 2x{{ end }}">
	    {{ end }}
	    {{ if .Site.Params.default_profilepic }}
	    <img src="{{ .Site.Params.default_profilepic | absURL }}" alt="{{ .Site.Params.author }}">
	    {{ end }}
	</picture>
	<h2>{{ .Site.Title }}</h2>
    </a>
    <nav>
	<ul>
	    {{ $current := .}}
	    {{ range $i, $nav := .Site.Menus.primary.ByWeight }}
	    {{ if $i }}
	    <li>&#183;</li>
	    {{ end }}
	    {{ with $nav}}

	    {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
	    {{ $active = or $active (eq .Page $current) }}
	    {{ $active = or $active (eq .Page.Section $current.Section) }}

	    <li{{ if $active }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Pre}}{{ .Name }}</a></li>
	    {{ end }}
	    {{ end }}
	</ul>
    </nav>
</header>
