.main.container {
    width: 700px;
}

#topbar {
    height: 40px;
    background: #1b1c1d;
    color: #fff;
    margin-bottom: 15px;
}

#topbar img {
    width: 20px;
    margin-top: 4px;
}

#topbar .righted {
    color: #767676;
    float:right;
    margin-top: 8px;
}

#topbar .righted a {
    color: #fff;
}
