{{ define "main" }}
<main>
    <h1 data-icon="">Teaching</h1>
    <p>
	I sincerely like to teach, and believe it is an important duty for any researcher, as a step towards dissemination.
    </p>
    {{ range .Data.Pages.GroupByParam "kind" }}
<h2 id="{{ .Key }}"><a href="#{{ .Key }}">{{ humanize .Key }}</a></h2>
<ul class="teaching {{ lower .Key }}">
    {{ range .Pages.ByDate.Reverse }}
    <li>
	<p class="head">
	    <span class="title">{{ .Params.name }}</span>
	    {{ if .Params.period }}<span class="period">{{ .Params.period }}</span>{{ end }}
	</p>
	<p class="mid">
	    {{ if .Params.description }}<span class="description">{{ .Params.description }}</span>{{ end }}
	    {{ if .Params.host}}<span class="host">{{ .Params.host }}</span>{{ end }}
	</p>
    </li>
    {{ end }}
</ul>
{{ end }}
</main>
<aside>
    <h2 data-icon="&#xf1ae;">Guest lectures</h2>
    <p>
	Generally my teaching obligations are often already full.
	However, depending on the conditions I am occasionally available for a guest lecture.
	<a href="/contact/">Contact me by email</a> and describe your proposition.
    </p>
</aside>
{{ end }}
