<div class="ui message">
  <div class="ui horizontal bulleted list">
    <a class="ui blue basic label" href="https://github.com/tpanum/dotfiles/tree/master/emacs.d.symlink"><i class="keyboard icon"></i>Emacs Config</a>
    <a class="ui blue basic label" href="http://bit.ly/1O7nEWX"><i class="text file outline icon"></i>Master Thesis</a>
    <a class="ui orange basic label" href="mailto:thomas@panum.dk"><i class="mail outline icon"></i>Contact Me</a>
  </div>
</div>
</div>
</div>
</body>
</html>
