<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body id="home">
    <div id="topbar">
      <div class="ui main container">
        <a href="{{.Site.BaseURL}}">
          <img src="/img/logo.svg" />
        </a>
        <div class="grey righted">thomas kobber panum's blog &nbsp; &mdash; &nbsp; tpanum <i class="grey tiny chevron right icon"></i>
          <a href="http://github.com/tpanum">
            <i class="github alternate icon"></i>
          </a>
          <a href="http://twitter.com/tpanum">
            <i class="twitter icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="ui main justified container">
