$primary: #C0D6DF;
$secondary: #DBE9EE;
$third: #4F6D7A;
$fourth: #BE6E46;
$main-background: #fffffa;
$sidebar-width: 300px;
$pagewidth: 1080px;

@font-face {
    font-family:'Fira Sans';
    font-display: auto;
    src:local('Fira Sans'), local('FiraSans-Regular'), url('/font/FiraSans-Regular.woff2') format('woff2'), url('/font/FiraSans-Regular.woff') format('woff')
}

@font-face {
    font-family:'Fira Sans';
    font-display: auto;
    font-style:italic;
    src:local('Fira Sans Italic'), local('FiraSans-Italic'), url('/font/FiraSans-Italic.woff2') format('woff2'), url('/font/FiraSans-Italic.woff') format('woff')
}

@font-face {
    font-family:'Fira Sans';
    font-display: auto;
    font-weight:700;
    src:local('Fira Sans Bold'), local('FiraSans-Bold'), url('/font/FiraSans-Bold.woff2') format('woff2'), url('/font/FiraSans-Bold.woff') format('woff')
}
@font-face {
    font-family:'Fira Sans';
    font-display: auto;
    font-weight:700;
    font-style:italic;
    src:local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('/font/FiraSans-BoldItalic.woff2') format('woff2'), url('/font/FiraSans-BoldItalic.woff') format('woff')
}

@font-face{
    font-family:"tpanum-icons";
    font-display: auto;
    src:url('../font/tpanum-icons.eot?#') format('eot'),url('../font/tpanum-icons.woff2') format('woff2'),url('../font/tpanum-icons.woff') format('woff'),url('../font/tpanum-icons.ttf') format('truetype'),url('../font/tpanum-icons.svg#tpanum-icons') format('svg');
    font-weight:400;
    font-style:normal
}

[data-icon]:before{
    font-family:"tpanum-icons";
    font-size:80%;
    line-height:100%;
    width:1em;
    font-weight:400;
    content:attr(data-icon);
    speak:none;
    padding-right:.5em;
    display:inline-block
}

html {
    height: 100%;
    background: #f3f3f3;
    overflow-y: scroll;
}

a, a::before {
    color: inherit;
    text-decoration: none;
    -webkit-transition: background .1s .1s, opacity .1s;
    transition: background .1s .1s, opacity .1s;
}

body {
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;

    .headerbck {
	position: absolute;
	top: 0;
	border-bottom: 1px solid $primary;
	background: $main-background;
	width: 100%;
	height: 75px;
    }

    #grid {
	max-width: 1080px;
	background:$main-background;
	background:$main-background -webkit-linear-gradient($secondary 0, $secondary 100%) right top / $sidebar-width 100% no-repeat;
	background:$main-background linear-gradient($secondary 0, $secondary 100%) right top / $sidebar-width 100% no-repeat;

	line-height: 26px;
	min-height: 100%;
	margin: 0 auto;

	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	-ms-grid-columns: 1fr $sidebar-width;
	grid-template-columns: 1fr $sidebar-width;
	grid-template-areas: "header header" "main aside" "footer footer";
    }
}

header {
    position: relative;
    grid-area: header;
    padding: .5em 0 0 0;
    background: transparent;

    $offset: 125px;

    h2 {
	margin: 0 0 0 $offset - 1px;
	font-size: 16px;
    }

    img {
	position: absolute;
	width: 80px;
	z-index: 3;
	border-radius: 50px;
	left: $offset - 105px;
	bottom: -15px;
	border: 2px solid $primary;
    }

    nav {
	position: relative;
	margin: -.5em 0 0.5em -10px;
	color: $third;
	z-index: 2;

	ul {
	    margin: 5px 0 0 0;
	    padding: 0 0 0 $offset + 8px;

	    li {
		display: inline-block;
		margin-right: 5px;
		padding: 4px 2px;
		border-bottom: 2px solid transparent;

		&.active {
		    border-bottom: 2px solid $fourth;
		}
	    }
	}
    }
}


ul {
    list-style: none;
}

main, aside {
    p {
	text-align: justify;
	text-justify: inter-word;

	a {
	    background-image: -webkit-linear-gradient($third, $third);
	    background-repeat: repeat-x;
	    background-size: 1em 2px;
	    background-position: 0 1.1em;
	}
    }
}

main {
    grid-area: main;
    min-width: 200px;
    max-width: 100%;
    padding: 1em 40px;

    pre {
	background: $third;
	color: $main-background;
	padding: 4px 8px;
	overflow: hidden;
    }

    h1 {
	font-size: 2em;
	line-height: 1.1em;
	color: $third;
    }

    h2 {
	color: $fourth;
    }

    h3 {
	color: $third;
    }

    h1, h2 {
	margin: 26px 0 13px;
    }

    a {
	&.external {
	    &:hover::before {
		opacity:1;
	    }

	    &::before {
		font-family: "tpanum-icons";
		font-size: 13px;
		opacity: 0;
		margin-right: 7px;
		content: '\e802';
		color: inherit;
	    }
	}
    }

    ul {
	margin: 13px 0;
	padding-left: 20px;

	li:before {
	    content: "■";
	    position: absolute;
	    margin: -2px 0 0 -20px;
	    font-size: .8em;
	    color: $third;
	}
    }

    .dissemination {
	&.media {
	    padding-left: 0;
	}

	> li {
	    &:before {
		content: "";
		color: $third;
	    }
	}

	.backup {
	    $size: 16px;

	    a::before {
		color: $third;
		font-size: $size;
		-webkit-transition: color .5s;
		transition: color .5s;
	    }

	    a {
		display: inline-block;
		width: $size;
		font-size: .1px;
		white-space: nowrap;
		color: $third;
		line-height: 1.2;
	    }
	}

	.publisher {
	    padding-left: 1.2em;
	}
    }

    .blog {
	li::before {
	    content: none;
	}

    }

    .imgdesc {
	font-style: italic;
	font-size: .8em;
	text-align: center;
	display:block;
	width: 100%;
    }

    .publications, .dissemination, .teaching, .blog {
	li {
	    margin-bottom: .6em;

	    > ul {
		margin-top: 0;
		color: $third;
		white-space: nowrap;

		li {
		    margin-bottom: 0;
		    line-height: 1.4em;

		    &:before {
			content: "‒";
			color: $third;
		    }
		}
	    }
	}

	p {
	    margin: 0;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: start;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;

	    * {
		white-space: nowrap;
	    }

	    > :first-child {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	    }

	    .me {
		background-image: -webkit-linear-gradient($third, $third);
		background-repeat: repeat-x;
		background-size: 1em 2px;
		background-position: 0 1.1em;
	    }

	    .title {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 700;
		background-image: -webkit-linear-gradient($third, $third);
		background-image: linear-gradient($third, $third);
		background-repeat: repeat-x;
		background-size: 1em 0;
		background-position: 0 1.1em;
	    }

	    .kind, .tag {
		background: $third;
		border-radius: 8px;
		color: $main-background;
		font-size: .7em;
		line-height: 1em;
		padding: 4px 6px;
		margin: 2px 0 0 1em;
	    }

	    .authors, .publisher, .year, .description, .host, .period, .credit {
		color: $third;
		white-space: nowrap;
	    }

	    .credit {
		font-weight: normal;
	    }

	    .publisher, .description {
		font-style: italic;
	    }

	    .year {
		margin-left: 1em;
	    }

	    a {
		font-weight: 700;
		background-image: -webkit-linear-gradient($third, $third);
		background-image: linear-gradient($third, $third);
		background-repeat: repeat-x;
		background-size: 1em 0;
		background-position: 0 1.1em;
	    }

	}
    }
}

aside {
    grid-area: aside;
    background: $secondary;
    font-size: .9em;
    line-height: 22.1px;
    color: $third;
    padding: 9.5em 40px 1em 40px;
}

footer {
    grid-area: footer;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: $primary;
    color: $third;
    font-size: .8em;

    > * {
	padding: 0 20px;
    }

    p {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	line-height: 1.5;
    }

    .profiles {
	li {
	    display: inline;
	    margin-right: 15px;
	}

	a::before {
	    color: $third;
	    font-size: 28px;
	    -webkit-transition: color .5s;
	    transition: color .5s;
	}

	a {
	    display: inline-block;
	    width: 28px;
	    font-size: .1px;
	    white-space: nowrap;
	    color: $third;
	    line-height: 1.2;
	}
    }
}

@media screen and (max-width:950px){
    body {
	header {
	    width: 100%;

	    picture {
		display: none;
	    }

	    h2 {
		margin: 0 auto;
		text-align: center;
	    }

	    nav {
		font-size: 12px;
		margin: 0;

		ul {
		    margin: 0;
		    padding: 0;
		    text-align: center;

		    li {
			padding: 4px 0;
			margin-right: 3px;
		    }
		}
	    }
	}

	#grid {
	    background: $main-background;
	    -ms-grid-columns:1fr;
	    grid-template-columns:1fr;
	    grid-template-areas: "header" "main" "footer";
	}

	main {
	    h1 {
		font-size: 1.5em;
	    }
	}

	aside {
	    display: none;
	}
    }
}
